@model Softom.Application.Models.MV.PaymentDetails

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
<link rel="stylesheet" href="@Url.Content("~/Newassets/plugins/global/plugins.bundle.css")">
<link rel="stylesheet" href="@Url.Content("~/Newassets/plugins/custom/datatables/datatables.bundle.css")">

<script src="@Url.Content("https://code.jquery.com/jquery-3.3.1.js")"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Newassets/js/pages/components/datatables/data-sources/html.js")"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<link rel="stylesheet" href="@Url.Content("~/assets/css/ztyle.bundle.css")" />


<div class="card-body">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body" style="border:thin">

            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Payment Made Report by Date</h3>
                    </div>
                </div>

                <form method="post" class="kt-form kt-form--label-right" enctype="multipart/form-data" asp-action="GetPaymentDetails" asp-controller="Report">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3 col-sm-12">Choose Start and End Date</label>
                            <div class="col-lg-4 col-md-9 col-sm-12">
                                <input asp-for="@Model.PaymentDate" class="form-control" id="kt_daterangepicker_1" readonly placeholder="Select time" type="text" />
                            </div>
                            <div class="col-lg-9 ml-lg-auto">
                                <button type="submit" class="btn btn-brand">Submit</button>
                            </div>
                        </div>
                    </div>                    
                </form>

                <!--end::Form-->
                @if (@Model.PaymentsMade != null && @Model.PaymentsMade.Count() > 0)
                {
                    <div class="card card-bordered">

                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Payments Made - @Model.PaymentsMade.Sum(f => f.Amount).ToString("c", Softom.Application.BusinessRules.Configuration.CultureInfoSettings.GetZACulture().NumberFormat)</h3>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="kt-portlet kt-portlet--mobile">
                                <div class="kt-portlet__body" style="border:thin">
                                    <table id="example" class="table table-striped- table-bordered table-hover table-checkable" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Payment Date</th>
                                                <th>Payment Type</th>
                                                <th>Amount</th>
                                                <th>Member</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @Model.PaymentsMade)
                                            {
                                                <tr>
                                                    <td style="vertical-align: middle">@item.Createddate.ToString("dd MMMM yyyy")</td>
                                                    <td style="vertical-align: middle">@item.Notes</td>
                                                    <td style="vertical-align: middle">@item.Amount.ToString("c", Softom.Application.BusinessRules.Configuration.CultureInfoSettings.GetZACulture().NumberFormat)</td>
                                                    <td style="vertical-align: middle">@item.Member.ContactInformation.Firstname @item.Member.ContactInformation.Surname</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (@Model.PaymentsNotMade != null && @Model.PaymentsNotMade.Count()>0)
                {
                    <div class="card card-bordered">
                    <div class="card-header">
                        <h3 class="card-title">Unpaid Members</h3>
                    </div>
                    <div class="card-body">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__body" style="border:thin">
                                <table id="example1" class="table table-striped- table-bordered table-hover table-checkable" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>Firstname</th>
                                            <th>Surname</th>
                                            <th>Cell Number</th>
                                            <th>Phone Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in @Model.PaymentsNotMade)
                                        {
                                            <tr>
                                                <td style="vertical-align: middle">@item.Member.ContactInformation.Firstname</td>
                                                <td style="vertical-align: middle">@item.Member.ContactInformation.Surname</td>
                                                <td style="vertical-align: middle">@item.Member.ContactInformation.CellNumber</td>
                                                <td style="vertical-align: middle">@item.Member.ContactInformation.PhoneNumber</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "scrollX": true,
                "scrollY": true
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#example1').DataTable({
                "scrollX": true,
                "scrollY": true
            });
        });
    </script>
}
